*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background: var(--theme-bg-clr);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
